@import 'styles/vars';

#root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.match-list {
  background-color: $main-bg;
  min-width: 90vw;
}

.match-row-item {
  background-color: $row-bg;
  border-radius: 4px;
  .match-details {
    flex: 1;
    &__userInfo {
      flex: 1;
      // min-width: calc((100% / 3) - 0.5rem);
    }
    &:nth-of-type(1):after {
      content: " vs ";
        font-weight: bold;
        color: $filter-color;
        margin-top: 18px;
    }
  }
  .match-details__userInfo, .match-details__teamOverview {
    height: 52px;
    border-radius: 5px;
    background-color: $details-bg;
  }
}

.inactive {
  max-height: 0;
  margin: 0;
  opacity: 0;
  transform: scale(0.8);
}

.active {
  max-height: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  transform: scale(1);
}

.match-status {
  background: transparent;
  border-radius: 4px;
  padding: 6px 8px;
  min-width: 92px;
  font-weight: 600;

  &__filter {
    background-color: $err-bg;
    color: $filter-color;
  }

  &--ongoing {
      background: $btn-green;
  }

  &--finished {
      background: $btn-red;
  }

  &--scheduled {
      background: $btn-orange;
  }
}

.match-score {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0;
}

.btn-update {
  min-width: 204px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  background-color: $btn-red;
  transition: border-color 0.25s;
  cursor: pointer;
}

.main-title {
  font-size: 32px;
  font-family: 'TacticSans', sans-serif;
}
.err-block {
  background: $err-bg;
  border-radius: 4px;
  padding: 3px 10px;
  .err-text {
    font-size: 18px;
    font-weight: 500;
  }
}

@mixin overview-labels {
  @apply font-medium text-sm text-[#FAFAFA]/40;
}

@mixin overview-values {
  @apply ml-2 text-base font-semibold text-[#F2F6F6]
} 

.overview-label {
  @include overview-labels
}

.overview-value {
  @include overview-values
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.95;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
